{% extends 'project_prj/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'project_prj/styles/style.css' %}">
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h3>Как сделать заказ</h3>
</header>
<div class="wrap">
    <p>Приём заказов на сайте Кенгуру осуществляется круглосуточно.
        </p>
    <ol>
        <li>После оформления заказа менеджер магазина «Кенгуру» вышлет Вам подтверждение на указанный адрес электронной почты.
            Ожидайте подтверждение о том, что заказ собран и готов к отправке.
        </li>
        <br><li>Когда заказ будет собран, менеджер свяжется с вами для согласования деталей доставки.
        </li>
        <br><li>Если менеджер не сможет связаться с вами сразу, он сделает это позже.

        </li>
        <br><li> Если в течение двух дней после оформления заказа мы не получим обратную связь, ваш заказ будет отменен.
        </li>
        <br><li>Если вам нужна помощь в оформлении заказа или консультация по товарам, свяжитесь с менеджерами магазина по телефону:
        Будние дни: с 10:00 до 20:00. Выходные: с 12:00 до 18:00.</li>
    </ol>
    {% endblock %}