{% extends 'project_prj/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h3>О компании</h3>
  </header>
<div class="text">
    <h1>Магазин детских игрушек "Кенгуру"</h1>
    <p>Магазин детских игрушек "Кенгуру" — это уютное и яркое место, где каждый ребенок и его родители могут найти
        все необходимое для веселого и развивающего времяпрепровождения. В нашем ассортименте представлены
        игрушки для детей разных возрастов: от новорожденных до подростков.</p> <br>

    <p>Основные характеристики магазина "Кенгуру":</p> <br>

    <p>1. Широкий ассортимент: Мы предлагаем разнообразные игрушки, включая мягкие игрушки, конструкторы,
        развивающие наборы, куклы, машинки и многое другое.</p> <br>

    <p>2. Качество и безопасность: Все наши игрушки сертифицированы и соответствуют международным стандартам безопасности.
    Мы тщательно отбираем производителей, чтобы гарантировать высокое качество и долговечность товаров.</p> <br>

    <p>3. Образовательные игрушки: В "Кенгуру" вы найдете множество развивающих игр и наборов, которые способствуют
    обучению и развитию навыков у детей. Мы верим в важность игры для обучения и роста, поэтому предлагаем игрушки,
    которые стимулируют креативность, логику и социальные навыки.</p> <br>

    <p>Магазин "Кенгуру" — это не просто место для покупок, а пространство, где каждая игрушка приносит радость и
    вдохновение, помогая детям расти счастливыми и развитыми!</p> <br>

    {% endblock %}